html, body, div {
  margin: 0px;
  height: 100%;
}

.product-card-container {
  min-width: 25%;
  height: 285px;
  border-radius: 2%;
  border: solid #b2b2b2;
  border-width: 0.5px;
  margin-top: 2%;
  display: inline-block;
  overflow: visible;
}

.product-card-image {
  margin: auto;
  max-width: 80%;
  height: 40%;
  display: block;
  border-radius: 2%;
  overflow-y: hidden;
}

.product-card-title {
  text-align: center;
}

.product-card-description {
  text-align: center;
  font-size: small;
  color: #b2bec3;
  padding: 0% 5%
}

.product-card-price {
  text-align: center;
  margin: 3%;
  padding-bottom: 0%;
}

.product-card-buynow-btn {
  width: 100%;
  color: white;
  padding: 8%;
  cursor: pointer;
  font-size: 10px;
  bottom: 0px;
}

.product-list {
  margin: 1%;
  height: fit-content !important;
  width: 100% !important;
}

.nav--logo {
  max-width: 100px;
  margin-left: 0%;
  display: inline-block;
}

.main-nav {
  width: 100%;
  background-color: #2183a2;
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  position: relative;
}

.main-nav-links {
  margin-left: 60%;
  width: 30%;
  display: inline-block;
  text-align: end;
}

.main-nav-link {
  padding: 0% 3%;
  color: #b2b2b2;
  font-weight: bold;
}

.product-filter-panel {
  display: inline-block;
  width: 20%;
  text-align: justify;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  margin: 0;
}

.product-page {
  height: 100vh;
}

/*filter panel*/
.product-filter-panel--header-section {
  margin-left: 5%;
  padding-top: 8%;
}

.filter-buttons {
  flex: 1 !important;
  float: right !important;
  padding-right: 8%;
}

#product-filter-panel--header {
  flex: 1;
  height: 20px;
  display: inline;
}

.separator {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0px;
  max-height: 0px;
  border: solid;
  border-width: thin 0 0 0;
}

.product-filter-panel--filter {
  margin: 2%;
  margin-top: 10%;
}

#price-filter {
  display: flex;
}

.product-filter-panel--price {
  width: 50%;
  flex-basis: auto;
  justify-content: space-between;
  height: 25px;
}

.product-filter-panel--label {
  display: block;
  margin-bottom: 5%;
}

.product-input, #product-filter-panel--search-keyword {
  width: 100%;
  height: 25px;
}

.product-details--image-container, .product-details--details {
  display: inline-block;
  width: 50%;
  height: 80%;
  padding: 0%;
  margin: 0%;
  vertical-align: bottom;
}

.product-details--image-container {
  text-align: center;
}

.product-details--image {
  width: 50%;
}

.product-details--add-to-cart-btn {
  color: white;
  padding: 8%;
  cursor: pointer;
  font-size: 10px;
  bottom: 0px;
}

.product-details--add-to-cart-btn:enabled {
  background-color: #2183a2;
}

.product-details--add-to-cart-btn :disabled {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important
}

.cart-item--img {
  height: 80px;
  width: 90px;
}

.cartList {
  height: 80%;
  width: 60% !important;
  margin: auto;
}

.checkout-btn {
  float: right;
  color: white;
  margin-right: 20%;
}

.cart--product-details-link, .cart--product-details-link :hover {
  text-decoration: none !important;
  color: black;
}

.order-card {
  border-color: black !important;
  height: fit-content;
  margin: 2% auto;
  width: 50%;
  text-align: center;
}

.orders-container {
  text-align: center;
}

.order-details-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content-order {
  width: 80%;
  background-color: #fff;
  height: fit-content;
}

.modal-header-order, .modal-footer-order {
  padding: 5%;
}

.modal-title-order {
  margin: 0;
}

.modal-body-order {
  padding: 1%;
  border-top: 1px solid#eee;
  border-bottom: 1px solid#eee;
}

.order-details-modal--close-modal-btn {
  float: right;
}